{
  "installed": {
    "client_id": "314455555fff-112343212ebn5lnnnnp3yout3lp18jke.apps.googleusercontent.com",
    "client_secret": "O4FAl1BAbP1tz1gcAWfxUKEz",
    "redirect_uris": ["https://www.example.com/oauth2callback"],
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token"
  }
}
